services:
  - type: web
    name: trading-signals-website
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python app.py
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: INTERVAL
        value: 15m
      - key: LIMIT
        value: "500"
